<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcial 2</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>PÁGINA B</h1>

    <p>Descripción: Ahora estas en la página B</p>

    <div>
        <ul>
            <li><a href="/">Página A</a></li>
            <li><a href="/pagina_b">Página B</a></li>
            <li><a href="/pagina_c">Página C</a></li>
        </ul>
    </div>
    <script>
        window.addEventListener('load', function () {

            fetch('/visita?visita_b=1')
                .then(b => b.text())
                .catch(console.error);

        });
    </script>

</body>

</html>